# 默认配置文件
# 需要更改配置请在根目录下创建自定义的config文件，如custom.config
# 加载顺序为文件名的字典顺序，后加载的配置会覆盖先加载的配置
# default.config最先加载，即优先级最低。
ipset_ipv4_file="./ip.txt"                    # ipv4 ipset文件，来源CloudflareSpeedTest项目
ipset_ipv6_file="./ipv6.txt"                  # ipv6 ipset文件，来源CloudflareSpeedTest项目
cloudflare_speed_test_cmd="./CloudflareST"    # 执行CloudflareST的命令，来源CloudflareSpeedTest项目
#cloudflare_speed_test_remote_host="root@192.168.2.3" # 若cloudflare_speed_test_cmd在远程host，则取消注释，脚本会使用ssh远程执行cloudflare_speed_test_cmd，同时ipset_ipv4_file和ipset_ipv6_file也为远程host的文件路径。注意：需要预先使用ssh-copy-id达成密钥登录
mosdns_config_file="./config.yaml"            # mosdns配置文件，来源mosdns项目
restart_mosdns_cmd="systemctl restart mosdns" # 重启mosdns的命令，如果你使用其他方式重启mosdns，请修改这行
log_file="./update.log"                       # 日志文件，脚本运行日志会输出到此文件中